header{
    background-color: lightskyblue;
    color: white;
    padding: 0.4em;
    font-family: Arial, Helvetica, sans-serif;
}

#logo {
    float: left;
    margin-left: 15px;
    margin-top: 10px;
}

h1{
   text-align: center;
}

nav{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    color:#515151;
}

ul{
    text-align: right;


}
li{
    display: inline;
    margin: 10px;
}

.stats{
    float: left;
    padding: 1em;
    margin-right:50px;
    max-width:160px;  /*width: 10vw;*/
    height:500px;  /*height: 35vw;*/
    background-color: #fffabe;
}

#game-area div{
    display: block;
    float:left;
    margin-right: 15px;
    width: 120px;
    height: 150px;
    background-color: #fffabe;
    }

.card{
    position: relative;left: 0; top: 0;
}

.front{
    position: relative; top: 0; left: 0;
}

.back{
    position: absolute; top: 0px; left: 0px;
}
.stats{
    text-align: center;
}
.attempts > .value{
    color:blue;
    font-size: 20px;
}
.accuracy > .value{
    color:blue;
    font-size: 20px;
}
.games-played > .value{
    color:blue;
    font-size: 20px;
}